@model Lmyc.Models.Booking

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookingId" />
            <div class="form-group">
                <label asp-for="Boat" class="control-label"></label>
                <select asp-for="BoatId" class="form-control" asp-items="ViewBag.BoatId"></select>
                <span asp-validation-for="BoatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NonMemberCrews" class="control-label"></label>
                <input asp-for="NonMemberCrews" class="form-control" />
                <span asp-validation-for="NonMemberCrews" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Itinerary" class="control-label"></label>
                <input asp-for="Itinerary" class="form-control" />
                <span asp-validation-for="Itinerary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
