<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lmyc</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/main.css" />*@
        <link rel="stylesheet" href="~/css/main.css" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">LMYC</a>

            <nav id="nav">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a asp-area="" asp-controller="Home" asp-action="About">About</a>
                <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                <a asp-area="" asp-controller="Boats" asp-action="index">Boats</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-area="" asp-controller="Bookings" asp-action="index">Bookings</a>
                    <a asp-area="" asp-controller="Volunteers" asp-action="index">Volunteers</a>
                    <a asp-area="" asp-controller="Documents" asp-action="index">Documents</a>
                    <a asp-area="" asp-controller="Swagger" asp-action="Index">API Information</a>
                }
                @await Html.PartialAsync("_LoginPartial")
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    <!-- Banner -->
    <section id="banner">
        <h1>Welcome to LMYC</h1>
        <p>Lower Mainland Yacht Co-Op</p>
    </section>

    <!-- One -->

    <section id="three" class="wrapper special">
        <div class="inner">
            <header class="align-center">
                @RenderBody()
            </header>
            <div class="flex flex-2">
                <article>
                    @RenderBody()
                </article>
            </div>
        </div>
    </section>
   

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <div class="flex">
                <div class="copyright">
                    <p>&copy; 2018 - Lmyc</p>
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/skel.min.js"></script>
        <script src="~/js/util.js"></script>
        <script src="~/js/main.js"></script>
  
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
